<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
{% load front_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'front/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/index.css' %}">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'front/libs/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/posts.css' %}">
</head>
<body>
{% include "front/nav_top.html" %}
<!-- 头部区域 -->


<!--mian contern-->

<div id="mian" class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            {#     文章列表的,占位符  #}
            {% block posts %}

            {% endblock %}
            {#   文章分页     #}
            {% block posts_page %}
            {% endblock %}
            {#     文章评论列表的,占位符  #}
            {% block posts_comment %}

            {% endblock %}
        </div>
        {#   左侧导航的占位符 #}
        {% include "front/nav_left_list.html" %}
    </div>
</div>
</div>


<!--页脚-->

<script src="{% static  'libs/jQuery/js/jquery-1.12.4.js.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
<script>

</script>
</body>
</html>