
{% extends "front/base.html" %}
{% load staticfiles %}
{# title标题动态添加#}
{% block title %}
    posts.title
{% endblock %}
<link rel="stylesheet" href="{%  static 'css/detail.css' %}">
{# 文章列表的,占位符  #}
{% block posts %}
    <div class="card">
        <div class="card-body">
            <span class="text-left">{{ posts.users.nickname }}</span>
            <h1 class="card-title ">{{ posts.title }}</h1>
            <p class="card-text">{{ posts.content|safe }}</p>
            <div class="card-body">
                <span class="text-left">{{ posts.create_time }}</span>
                <span class="badge badge-pill badge-info">{{ posts.category }}</span>
                <span class="badge badge-success">浏览{{ posts.views }}</span>
                <span class="badge badge-secondary">点赞{{ posts.likes }}</span>
                <span class="badge badge-secondary">评论{{ posts.comment_num }}</span>
            </div>
        </div>
    </div>

{% endblock %}
{# 侧边栏导航列表#}
{% block nav_left_list %}
    <li class="list-group-item"><a href="web-front/html.html">html</a></li>
    <li class="list-group-item"><a href="web-front/CSS.html">CSS</a></li>
    <li class="list-group-item"><a href="web-front/JavaScript基础.html"></a></li>
    <li class="list-group-item"><a href="web-front/Web%20API.html">webApi</a></li>
{% endblock %}
{#     文章评论列表的,占位符  #}
{% block posts_comment %}
    {% include "front/comment.html"%}

{% endblock %}