{% load staticfiles %}
{% load front_tags %}
<!-- 头部区域 -->
<header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{%  url 'front:index' %}">
            <img src="{% static 'front/img/logo.png' %}" alt="积木博客">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% get_category_list as  category_lsit %}
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{%  url 'front:index' %}">首页 <span class="sr-only">(current)</span></a>

                    {% for category in category_lsit %}
                        <li class="nav-item">
                            <a class="nav-link " href="#">{{ category.category_name }}</a>
                        </li>
                    {% empty %}
                        <li class="nav-item">
                            <a class="nav-link " href="#">暂时没有分类</a>
                        </li>
                    {% endfor %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="输入关键字搜索文章"
                       aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">搜索</button>
            </form>
            <ul class="navbar-nav   navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">登录</a>
                </li>
            </ul>
        </div>
    </nav>
</header>